.dashContainer {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
}

.dashContainer button{
    padding: 20px 25px;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: center;
}
.menu button {
    margin: 0 10px;
    padding: 5px 10px;
}
.fase {
    width: 70%;
    margin:20px auto;
    display: flex;
    justify-content: center;
}
.faseBtn {
    padding: 10px;
}

.btn-seleccionado {
    border: 2px solid red;
}
